[submodule "ext/StackTracePlus"]
	path = ext/StackTracePlus
	url = https://github.com/ignacio/StackTracePlus.git
[submodule "ext/Optional"]
	path = ext/Optional
	url = https://github.com/akrzemi1/Optional.git
[submodule "ext/enet"]
	path = ext/enet
	url = https://github.com/freeminer/enet.git
[submodule "ext/goodform"]
	path = ext/goodform
	url = https://github.com/ElementW/goodform.git
[submodule "ext/torch7"]
	path = ext/torch7
	url = https://github.com/torch/torch7.git
[submodule "ext/threads"]
	path = ext/threads
	url = https://github.com/torch/threads.git
[submodule "assets/lua/modules/bitser"]
	path = assets/lua/modules/bitser
	url = https://github.com/gvx/bitser.git
[submodule "assets/lua/modules/cdata"]
	path = assets/lua/modules/cdata
	url = https://github.com/excessive/cdata.git
[submodule "assets/lua/modules/lds"]
	path = assets/lua/modules/lds
	url = https://github.com/neomantra/lds.git
