[submodule "msgpack-c"]
	path = ext/msgpack-c
	url = https://github.com/msgpack/msgpack-c.git
[submodule "assets/lua/lds"]
	path = assets/lua/lds
	url = https://github.com/neomantra/lds.git
[submodule "ext/StackTracePlus"]
	path = ext/StackTracePlus
	url = https://github.com/ignacio/StackTracePlus.git
[submodule "ext/Optional"]
	path = ext/Optional
	url = https://github.com/akrzemi1/Optional.git
[submodule "ext/enet"]
	path = ext/enet
	url = https://github.com/freeminer/enet.git
